.popup_wrapper {
  display: flex;
  justify-content: center;
  height: 220px;
  max-height: 220px;
  margin: -10px;
  background-color: #21211f;
  color: #ffffff;
}

.translate_controller {
  height: 100%;
  max-height: 220px;
  overflow-y: hidden;
  background-color: #21211f;
}

.language_controller {
  height: 100%;
  max-height: 220px;
  overflow-y: scroll;
  background-color: #21211f;
}

.language_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  cursor: pointer;
  background: none;
  border: none;
  margin: 0;
  color: #ffffff;
}

.language_button:hover {
  color: #7b7b7b;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 15px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6d6d6d;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: -5px;
  bottom: -2px;
  background-color: #e9e9ea;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ff4500;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ff4500;
}

input:checked + .slider:before {
  -webkit-transform: translateX(27px);
  -ms-transform: translateX(27px);
  transform: translateX(27px);
  background-color: #ffffff;
}

.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 200px;
  height: 25px;
  padding: 15px;
}

.language_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 25px;
  padding: 15px;
  cursor: pointer;
}

.language_wrapper:hover {
  background-color: #7b7b7b;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.tag {
  display: flex;
  justify-items: center;
  align-items: center;
}

.tag > span {
  margin-left: 5px;
  color: #ffffff;
  font-size: 14px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 60px;
  height: 10px;
  border-radius: 15px;
  background-color: #6d6d6d;
  background-image: linear-gradient(#ff4500, #ff4500);
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #e9e9ea;
  cursor: ew-resize;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.footer {
  display: flex;
  align-items: center;
  padding: 10px;
  padding-left: 15px;
  padding-top: 25px;
  background-color: #282727;
  margin: -10px;
  color: #ffffff;
  font-weight: 500;
}

.bug {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid grey;
  overflow: hidden;
  padding: 5px;
  margin-right: 5px;
}

.bug:hover {
  background-color: #7b7b7b;
}

a:link {
  text-decoration: none;
}

.bug_image {
  width: 15px;
  height: 15px;
  color: #ffffff;
  text-decoration: none;
}
